 /* CSS coding */
 header, footer {
    display: block;
    background-color: #daf7a6;
    padding: 10px;
    text-align: center;
 }

 body {
    margin: auto;
    width: 80%;
 }

 .imgclass {
    display: inline-block;
    border: 1px solid #000;
    height: 150px;
    width: 150px;
 }

 button {
    width: 100%;
    margin: auto;
    display: block;
    background-color: #8b9e68;
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #888;
    padding: 0 20px;
 }

 nav ul {
    list-style: none;
    background-color: #8b9e68;
    text-align: center;
    padding: 0;
    margin: 0;
 }

 nav li {
    font-family: 'Oswald', sans-serif;
    border-bottom: 1px solid #888;
    height: 40px;
    line-height: 40px;
    font-size: 1.2em;
    padding: 0 20px;
 }


 nav a {
    text-decoration: none;
    color: #fff;
 }

 nav a:hover {
    color: #000;
 }

 section {
    padding: 20px 0;
    text-align: center;
 }

 article {
    padding: 10px 0;
 }



 /* h3 {
    font-size: 1.2em;
    margin: 2em 0;
 } 

 article {
    text-indent: 2em;
 }*/


 #btn1 {
    color: red;
 }

 .btnstyle {
    width: 50pt;
 }

 @media screen and (min-width: 800px) {
    .artclass div {
       display: inline-block;
       padding: 10px;
       text-align: justify;
       width: 46%;
    }

    nav li {
       width: 120px;
       border-bottom: none;
       height: 50px;
       line-height: 50px;
       font-size: 1.4em;
       display: inline-block;
    }

    button {
       display: none;
    }
 }