@charset "utf-8";

/* CSS Document */
a:link, a:visited, a:active {
	color: #9B8C35;
	text-decoration: none;
}

a:hover {
	color: #F00;
	text-decoration: none;
}

/* 鼠标指针移动到链接上 */
body {
	border: 0px;
	padding: 0px;
	margin: 0px;
	color: #9B8C35;
	font-size: 12px;
}

.mainbox {
	width: 1200px;
	margin: 0px auto;
	background-color: #FFF8D6;
	height: 100%;
}

.topbox {
	background-repeat: no-repeat;
	height: 84px;
}

.logo_box {
	width: 240px;
	float: left;
}

.rightbox {
	width: 940px;
	float: right;
	height: 84px;
	background-color: #FFF8D6;
}

.seach_box, .top_nav {
	width: 940px;
}

.top_nav {
	line-height: 34px;
	margin-bottom: 35px;
}

.seach_box {
	line-height: 50px;
}

.topline {
	background-image: url(https://www.cngwzj.com/mb/images/topling.png);
	background-repeat: repeat-x;
	clear: both;
	line-height: 16px;
	height: 16px;
}

.btline {
	background-image: url(https://www.cngwzj.com/mb/images/bgline.png);
	background-repeat: repeat-x;
	clear: both;
	line-height: 26px;
	height: 26px;
	clear: both;
	margin-top: 10px;
}

/*底部线条*/
.btbg {
	background-image: url(https://www.cngwzj.com/mb/images/btbg.png);
	background-repeat: repeat-x;
	height: 114px;
	line-height: 114px;
}

/*底部背景*/
.top_nav a {
	font-size: 16px;
	font-weight: bold;
	color: #9B8C35;
	font-family: 微软雅黑;
	margin-right: 30px;
	text-decoration: none;
}

/*导航*/
.top_nav a:hover {
	color: #F00;
}

h1 {
	text-align: center;
	color: #9B8C35;
	font-family: 隶书;
}

/*标题*/
.sectitle {
	text-align: right;
	color: #9B8C35;
	border-bottom: 1px dotted #A6A600;
	font-size: 14px;
}

/*副标题*/
.strbox table {
	width: 100%
}

.strbox td {
	text-align: center;
	color: #9B8C35
}

/*文章内容*/
.strbox {
	font-size: 18px;
	line-height: 30px;
	font-family: 仿宋;
}

/*文章内容*/

.strbox_s {
	font-size: 14px;
	line-height: 30px;
}


.t-c {
	text-align: center;
}

.t-r {
	text-align: right;
}

.t-l {
	text-align: left;
}

.m-l30 {
	margin-left: 30px;
}

.m-r30 {
	margin-right: 30px;
}

.m-l20 {
	margin-left: 20px;
}

.m-r20 {
	margin-right: 20px;
}

.leftbox {
	width: 870px;
	float: left;
	padding: 10px;
	background-color: #FFF8D6;
}

.rightmainbox {
	width: 300px;
	float: right;
	background-color: #FFF8D6;
}

.mainimglist img {
	max-width: 850px;
	margin: 10px;
	padding: 10px;
	border: 1px solid #9B8C35;
	-moz-box-shadow: 3px 3px 4px #9B8C35;
	-webkit-box-shadow: 3px 3px 4px #9B8C35;
	box-shadow: 3px 3px 4px #9B8C35;
	background: #FFFBEA;
	filter: alpha(opacity=50);
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#9B8C35');
}

.mainimglist_withword {
	text-align: center;
	margin-top: 15px;
	margin-bottom: 20px;
}

.mainimglist_withword ul {
	width: 550px;
	text-align: center;
	;
	margin: 10px;
	padding: 10px;
	border: 1px solid #9B8C35;
	-moz-box-shadow: 3px 3px 4px #9B8C35;
	-webkit-box-shadow: 3px 3px 4px #9B8C35;
	box-shadow: 3px 3px 4px #9B8C35;
	filter: alpha(opacity=50);
	background-color: #FFFBEA;
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#9B8C35');
	text-align: center;
}

.mainimglist_withword img {
	margin-bottom: 10px;
	max-height: 100px;
	;
}

.mainimglist_withword span {
	font-size: 14px;
	font-family: 黑体;
	font-weight: bold;
	margin-right: 20px;
}

.stitle_class {
	font-weight: bold;
	background-image: url(https://www.cngwzj.com/mb/images/stitleimg.png);
	background-repeat: no-repeat;
	padding-left: 40px;
	border-bottom: 1px solid #D2C247;
	line-height: 22px;
	margin-top: 10px;
	margin-bottom: 10px;
}

/*小标题*/
.list48 {
	margin-top: 10px;
	margin-bottom: 10px;
}

.list48 div {
	width: 48%;
}

.flolt_left {
	float: left;
}

.flolt_right {
	float: right;
}

.flolt_cler {
	clear: both;
}

.wordlist ul {
	border: 0px;
	padding: 0px;
	line-height: 25px;
	border-bottom: 1px dotted #9B8C35;
}

.wordlist ul span {
	float: right;
	margin-left: 30px;
	color: #D2C247;
}

.bbs_main {
	padding: 0px;
	margin: 0px;
	border: 1px solid #9B8C35;
	line-height: 35px;
	background-color: transparent;
	height: 35px;
	color: #9B8C35;
	width: 780px;
	font-weight: bold;
}

.search_inp {
	padding: 0px;
	margin: 0px;
	border: 1px solid #9B8C35;
	line-height: 35px;
	background-color: transparent;
	height: 35px;
	color: #9B8C35;
	width: 600px;
	font-weight: bold;
}

.search_inp:hover {
	background-color: #FFF4C1;
}

.buttom_style {
	border: 1px solid #9B8C35;
	line-height: 35px;
	text-align: center;
	background-color: #9B8C35;
	color: #FFF4C1;
	margin: 0px;
	padding: 0px;
	width: 80px;
	font-weight: bold;
}

.buttom_style:hover {
	background-color: #D2C247;
	cursor: pointer;
}

/*搜索*/
/*分页*/
.page {
	color: #9B8C35;
	text-align: center;
	margin: 10px 0px;
}

.pageys {
	margin: 0 10px;
}

.pageys a, .page a {
	background-color: transparent;
	color: #9B8C35;
	border: 1px solid #9B8C35;
	margin: 0 5px;
	height: 19px;
	display: inline-block;
	text-align: center;
	line-height: 19px;
	font-size: 14px;
	padding: 3px 10px;
}

.pageys a.pagehover, .pageys a:hover, .page a:hover {
	background-color: #9B8C35;
	color: #FFF4C1;
}

/*留言*/
.fayan {
	width: 100%;
	float: left;
	display: block;
	overflow: hidden;
}

.fayanbox {
	width: 100%;
	margin-bottom: 15px;
	float: left;
	margin-top: 20px;
}

.bbs_list {
	width: 98%;
	padding: 10px;
	padding-left: 1px;
}

.ul_reds {
	border-bottom: 1px dotted #D2C247;
	padding: 5px 0px 5px 0px;
}

.ul_reds a:link, .ul_reds a:active, .ul_reds a:visited, .ul_reds a:hover {
	font-weight: bold;
	color: red;
}

.bbsmainstar {
	font-size: medium;
	border-left: 2px #D2C247 solid;
	line-height: 35px;
}

.bbsuserstr {
	color: #D2C247;
	text-align: left;
	line-height: 30px;
	font-size: 12px;
}

.text_center {
	text-align: center;
}

.foot_nav {
	line-height: 30px;
}

/*右侧*/
.wordlist_right ul {
	border: 0px;
	padding: 0px;
	line-height: 25px;
	border-bottom: 1px dotted #9B8C35;
}

.wordlist_right span {
	float: right;
	margin-left: 30px;
	color: #D2C247;
}

form {
	padding: 0px;
	border: 0px;
}

.list98 {
	padding: 10px;
}

.list98 ul {
	line-height: 30px;
	font-size: 14px;
	border-bottom: 1px dotted #A6A600;
}

.list98 ul:hover {
	border-bottom: 1px solid #A6A600;
}

.list98 ul a {
	width: 570px;
	display: block;
	display: inline-block;
}

.list98 ul span {
	width: 120px;
	display: block;
	display: inline-block;
}

.topnavs {
	padding: 10px;
	font-size: 14px;
	line-height: 30px;
}

.topnavs a {
	width: 55px;
	display: inline-block;
}

.div_48 {
	padding: 10px;
}

.div_48 ul {
	width: 50%;
	display: inline-block;
	padding: 0px;
}

.div_48 ul a {
	width: 250px;
	display: block;
	display: inline-block;
	overflow: hidden;
}

.div_48 ul:hover {
	border-bottom: 1px solid #A6A600;
}

.div_48 ul span {
	margin-left: 0px;
	display: block;
	display: inline-block;
	width: 80px;
	overflow: hidden;
}

.bt_sub {
	text-align: center;
	width: 100%;
}

.bt_sub a {
	background-color: #C8B728;
	border: 1px solid #C8B728;
	padding: 10px;
	font-size: 14px;
	text-align: center;
	width: 150px;
	-moz-box-shadow: 2px 2px 5px #9B8C35;
	-webkit-box-shadow: 2px 2px 5px #9B8C35;
	box-shadow: 2px 2px 5px #9B8C35;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #ffffff;
	height: 40px;
	line-height: 40px;
	display: inline-table;
	font-weight: bold;
}

.bt_sub a:hover {
	background-color: #DF0023;
	color: #FFF;
	border: 1px solid #DF0023;
	-moz-box-shadow: 2px 2px 5px #DF0023;
	-webkit-box-shadow: 2px 2px 5px #DF0023;
	box-shadow: 2px 2px 5px #DF0023;
}

.gstlist {
	padding: 10px;
}

.gstlist span {
	width: 33%;
	height: 200px;
	text-align: center;
	display: inline-table;
}

.gstlist div {
	padding: 10px;
}

.gstlist img {
	-moz-box-shadow: 2px 2px 5px #D2C247;
	-webkit-box-shadow: 2px 2px 5px #D2C247;
	box-shadow: 2px 2px 5px #D2C247;
}


.g_box {
	padding: 10px;
	width: fit-content;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	max-width: 98%;
	min-width: 98%;
	margin: 5px auto;
}

.g_main {
	text-align: left;
}

.g_main li {
	padding: 10px;
	margin: 5px;
	border-bottom: 0px dotted #A6A600;
	clear: left;
	list-style-type: none;
}

.tj_listbox .g_main img {
	max-width: 100%;
}

.g_main li span {
	width: 40px;
	max-width: 40px;
	text-align: center;
	min-width: 40px;
	display: inline-block;
	list-style-type: none;
	margin: 2px;
	min-height: 80px;
	width: 40px;
	min-width: 40px;
	line-height: 40px;
	background-image: url(https://www.cngwzj.com/mb/images/pybg.png);
	font-size: 16px;
	font-family: 微软雅黑;
}

.g_main li span strong {
	color: red;
}

.g_main li span:hover {
	font-weight: bold;
	cursor: pointer;
}

.mr-10 {
	margin-right: 10px;
}

.ml-10 {
	margin-left: 10px;
}

.mt-10 {
	margin-top: 10px;
}

.mb-10 {
	margin-bottom: 10px;
}

.mr-5 {
	margin-right: 5px;
}

.ml-5 {
	margin-left: 5px;
}

.mt-5 {
	margin-top: 5px;
}

.mb-5 {
	margin-bottom: 5px;
}

.top_navs {
	line-height: 30px;
	height: 30px;
	text-align: right;
}

.top_navs a {
	font-size: 14px;
	color: #9B8C35;
}

.top_navs a:hover {
	color: red;
}

.sec_title {
	text-align: right;
	border-bottom: 1px dotted #999988;
	line-height: 30px;
}

.editbox {
	text-align: right;
}

.strbox {
	padding: 0px;
}

.strbox h4 {
	font-weight: bold;
	line-height: 40px;
}

.strbox .zz {
	font-size: 16px;
	padding-bottom: 15px;
	padding-top: 15px;
}

.tj_item {
	padding: 10px;
}

.tj_main {

	padding: 15px;
	line-height: 25px;
	font-size: 18px;
	font-family: 仿宋;
}

.edit_log ul {
	font-size: 12px;
	color: #D7CB8A;
}

.stitle_class_2019 {
	line-height: 30px;
	background: url(https://www.cngwzj.com/mb/images/stitle_bg.png);
	font-size: 14px;
	font-weight: bold;
	font-family: 微软雅黑;
}

.stitle_class_2019 .iconfont {
	font-size: 18px;
	margin-right: 10px;
}

.stitle_more {
	float: right;
}

.stitle_more .iconfont {
	font-size: 14px;
}

.rightfloat {
	float: right;
	padding-top: 20px;
}

.txt-bload {
	font-weight: bold;
}

h1 {
	padding: 20px;
}



#gsbox {
	padding-bottom: 30px;
	font-size: 20px;
	font-family: 楷体;
	line-height: 30px;
	font-weight: normal;
}

#gsbox h1 {
	font-weight: normal;
}

#showgushi_ft strong {
	font-size: 18px;
	font-weight: normal;
	border-bottom: 1px dotted #9B8C35;
	border-left: 5px solid #9B8C35;
	padding: 10px;
}

.gphoto {
	max-height: 100px;
	float: left;
	margin: 10px;
}

.author_jj {
	border: 5px solid rgba(155, 146, 81, 0.2);
	padding: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
}

/*面片*/
.hdboxtop {
	margin: 10px;
	border: 20px;
	border-radius: 10px;
	padding: 20px 20px;
	line-height: 1.5;
}

.multipleBg {
	background: url("https://www.cngwzj.com/mb/mb2019/img/boxhead.png") no-repeat left top, url("https://www.cngwzj.com/mb/mb2019/img/boxtoprt.png") no-repeat right top, url("https://www.cngwzj.com/mb/mb2019/img/boxbtlt.png") no-repeat left bottom, url("https://www.cngwzj.com/mb/mb2019/img/boxbtrt.png") no-repeat right bottom, url("https://www.cngwzj.com/mb/mb2019/img/boxtopline.png") repeat-x top, url("https://www.cngwzj.com/mb/mb2019/img/boxbtline.png") repeat-x bottom, url("https://www.cngwzj.com/mb/mb2019/img/boxlfline.png") repeat-y left, url("https://www.cngwzj.com/mb/mb2019/img/boxrtline.png") repeat-y right;
	-webkit-background-origin: border-box, border-box, border-box, border-box, padding-box;
	-moz-background-origin: border-box, border-box, border-box, border-box, padding-box;
	-o-background-origin: border-box, border-box, border-box, border-box, padding-box;
	background-origin: border-box, border-box, border-box, border-box, padding-box;
	/*控制背景图片的显示区域，所有背景图片超边border外边缘都将被剪切掉*/
	-moz-background-clip: border-box;
	-webkit-background-clip: border-box;
	-o-background-clip: border-box;
	background-clip: border-box;
}

.imgbox {
	padding: 10px;
	text-align: center;
}

.imgbox img {
	max-width: 98%;
	max-height: 500px;
}

.imgtitles {
	text-align: center;
	padding: 10px;
	font-weight: bold;
}

.hdboxtop div {
	line-height: 35px;
	border-bottom: 1px dotted rgb(155, 146, 81);
}

.impt {
	font-weight: bold;
	color: red;
	line-height: 35px;
	border-bottom: 1px dotted red;
}

.tj_item_s {
	padding: 10px;
}

.tj_title_s {
	line-height: 25px;
}

.pyimgbox {
	padding: 0px;
	text-align: center;
}

.pyimgbox img {
	max-width: 850px;
	min-width: 850px;
}



.g_stitle {
	text-align: center;
	font-size: 14px;
}

.g_title {
	text-align: center;
	font-size: 1.1em;
}

.small_tip {
	color: #FF5722;
	padding: 10px;
	text-align: center;
	font-weight: bold;
}

.small_tip:hover {
	cursor: pointer;
}

/*展开*/
#gsbox {
	position: relative;
	padding: 10px 3%;
	overflow: hidden;
}

.more {
	left: 0;
	bottom: 0;
	display: block;
	width: 100%;
	height: 86px;
	color: #ff9c00;
	text-align: center;
	font-size: 16px;
	background: linear-gradient(to bottom, rgba(255, 244, 191, 0.1), rgba(255, 244, 191, 0.8));
}

.more .more-title {
	bottom: 45px;
	height: 27px;
	line-height: 27px;
	font-weight: bold;
}

.more .more-arrow {
	width: 48px;
	height: 48px;
	border-radius: 2rem;
	bottom: 10px;
	margin: 10px auto;
}

.about_link {
	padding: 10px;
}

.about_link a {
	margin-right: 10px;
}

.wzorpic_title {
	font-size: 16px;
	font-weight: bold;
	text-align: left;
}

.l_tips {
	font-size: 16px;
	color: #ff9c00;
}

.dyzlist {
	line-height: 35px;
	padding: 10px;
}

.fystrbox {
	line-height: 30px;
	font-weight: normal;
	font-size: 14px;
	color: #9B8C35;
}

.text-c {
	text-align: center;
}

.tj_main div {
	width: 47%;
	max-width: 47%;
	display: inline-block;
	padding: 5px;
	margin-left: 10px;
}

.tj_main div span {
	float: right;
}

.table_box {
	width: 100%;
}

.table_box tr, .table_box td {
	border: 1px solid;
	padding: 10px;
}

.showbox {
	width: 90%;
	height: 90%;
	min-width: 1000px;
	text-align: center;
	max-height: 1550px;
}

.tbleft {
	font-weight: bold;
}

.pd-10 {
	padding: 10px;
	border-top: 1px solid #E4DF95;
}

.txt_list a {
	margin-right: 10px;
	display: inline-block;
	padding: 10px;
}

.bsboxs {
	padding: 10px;
}

.bsboxs img {
	width: 80px;
	margin: 10px;
}

.bsboxsgif img {
	width: 95%;
}

.bbs_imglist {
	padding: 10px;
}

.bbs_imglist img {
	width: 200px;
	margin: 5px;
	border-right: 4px solid #E4DF95;
	padding: 5px;
}

.g_main li span .s_b {
	font-family: "楷体";
	font-size: 25px;
	font-weight: bold;
	color: #000000;
}

.g_main li span .s_t {
	font-size: 0.9em;
	color: #000000;
}

.gxclass {
	background: red;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	margin-right: 10px;
	padding: 5px;
	border: 0px;
}

.layer-card, .tj_item, .tj_item_s, .txt_list {
	margin: 10px;
	padding: 10px;
	border: 1px solid #E4DF95;
	border-radius: 10px;
}

.layer-cardtitle {
	font-weight: bold;
	border-bottom: border: 1px solid #E4DF95;
}

.tj_item, .tj_item_s, .txt_list {
	background-image: url("https://www.cngwzj.com/mb/images/boxbg.png");
	background-repeat: repeat-x;
	background-position: center bottom;
}

.tj_title {
	font-weight: bold;
}

.allmains {
	padding: 0px;
}

.s_spans {
	display: inline-block;
	margin-left: 20px;
	padding: 10px;
}






.s_yw {
	font-weight: bold;
	font-size: 18px;
	border-bottom: 1px solid #000;
	font-weight: bold;
	font-family: 微软雅黑;
}

.s_fy {
	color: #000;
	padding: 5px;
	font-size: 16px;
	margin-bottom: 20px;
}

.s_js {
	display: inline-block;
	color: #82752A;
	font-size: 16px;
	font-weight: normal;
}





.list_top {
	font-weight: bold;
}

.tj_mains {
	font-weight: bold;
	color: red;
	font-size: 14px;
}

.pd_10 {
	padding: 10px;
}

.mululistbox {
	padding: 10px;
}

.mululistbox img {
	width: 90%;
}

.booklist {
	padding: 10px;
	border-bottom: 1px solid #E4DF95;
	border-top: 1px solid #E4DF95;
}



.hui-click:active {
	background-color: #ECECEC;
}

/* 通用标题 */
.hui-title {
	width: 100%;
	height: 44px;
	line-height: 44px;
	font-size: 17px;
	padding: 0px 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.hui-more {
	float: right;
	font-size: 12px;
	color: #999999;
}

.hui-more a {
	font-size: 13px;
	color: #999999;
}

/* 居中的标题 */
.hui-center-title {
	width: 100%;
	margin-bottom: 10px;
}

.hui-center-title h1 {
	margin: 0 auto;
	text-align: center;
	border-bottom: 1px solid #E3E3E3;
	height: 50px;
	line-height: 50px;
	font-size: 17px;
}

/* 带有修饰的通用标题 */
.hui-common-title {
	width: 100%;
	height: 44px;
	display: flex;
	justify-content: center;
}

.hui-common-title-txt {
	width: 35%;
	text-align: center;
	line-height: 44px;
	font-size: 16px;
}

.hui-common-title-line {
	width: 15%;
	margin: 0 3%;
	height: 1px;
	margin-top: 21px;
}

/* 文本 */
.hui-content {
	line-height: 2.2em;
	font-size: 15px;
	position: relative;
}

.hui-content * {
	line-height: 2.2em;
	font-size: 15px;
}

.hui-content img {
	width: 100%;
}

.hui-content p {
	text-indent: 0em;
}

/* 头部导航 */
.hui-header {
	display: flex;
	width: 100%;
	height: 44px;
	text-align: center;
	top: 0px;
	left: 0px;
	position: fixed;
	z-index: 19;
}

.hui-header h1 {
	font-size: 18px;
	height: 44px;
	line-height: 44px;
	overflow: hidden;
	width: 100%;
	padding: 0px 38px 0px 38px;
	text-align: center;
	font-weight: 400;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.hui-header+.hui-wrap {
	padding-top: 44px;
}

#hui-back {
	width: 44px;
	height: 44px;
	font-family: "hui-font";
	line-height: 44px;
	text-align: center;
	flex-shrink: 0;
}

#hui-back:before {
	content: "\e6a5";
	font-size: 18px;
}

#hui-header-menu {
	width: 44px;
	height: 44px;
	line-height: 44px;
	font-family: "hui-font";
	flex-shrink: 0;
}

#hui-header-menu:before {
	content: "\e60e";
	font-size: 25px;
}

/* 列表 */
.hui-list {
	padding: 0px;
	border: 1px solid #E4E3E6;
	border-left: 0;
	border-right: 0;
}

.hui-list li {
	position: relative;
	display: flex;
	width: 100%;
	overflow: hidden;
	height: 50px;
}

.hui-list li>a, .hui-list>a {
	display: flex;
	width: 100%;
	height: 50px;
	overflow: hidden;
}

.hui-list li:active, .hui-list>a:active {
	background-color: #ECECEC;
}

.hui-list-text {
	line-height: 49px;
	height: 49px;
	width: 100%;
	margin-left: 12px;
	border-bottom: 1px solid #E4E3E6;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: flex;
	justify-content: space-between;
}

.hui-list-text-content {
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.hui-list-icons {
	margin: 14px 0px;
	width: 40px;
	text-align: center;
	flex-shrink: 0;
	font-size: 25px;
	text-align: center;
	line-height: 22px;
	color: #3388FF;
}

.hui-list-icons img {
	width: 22px;
	margin-left: 12px;
}

.hui-list-info {
	color: #999;
	float: right;
	padding-right: 6px !important;
	font-size: 13px;
	flex-shrink: 0;
}

.hui-list-info * {
	color: #999;
	font-size: 13px;
}

.hui-list li:last-child .hui-list-text, .hui-list>a:last-child .hui-list-text {
	border: 0;
}

/* media list */
.hui-media-list {}

.hui-media-list li {
	display: flex;
	padding: 8px;
	margin-bottom: 10px;
	overflow: hidden;
	justify-content: space-between;
}

.hui-media-list li a {
	padding: 0px;
	display: flex;
	width: 100%;
	overflow: hidden;
	justify-content: space-between;
}

.hui-media-list .hui-media-list-img {
	width: 25%;
	font-size: 0px;
}

.hui-media-list img {
	width: 100%;
}

.hui-media-content {
	width: 72%;
}

.hui-media-content h1 {
	font-size: 15px;
	line-height: 1.5em;
	padding: 0px 6px 3px 0px;
	font-weight: 400;
}

.hui-media-content p {
	font-size: 13px;
	line-height: 1.5em;
	padding: 0px 8px 0px 0px;
	color: #999999;
	word-break: break-word;
}

/* image list */
.hui-img-list {
	position: relative;
}

.hui-img-list li {
	position: relative;
	margin-bottom: 12px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
	padding: 0px 3px;
}

.hui-img-list li a {
	display: block;
	padding: 0px;
}

.hui-img-list img {
	display: block;
	width: 100%;
	font-size: 0px;
}

.hui-img-list-content {
	padding: 8px 8px 10px 8px;
}

.hui-img-list h1 {
	font-size: 16px;
	line-height: 1.8em;
	font-weight: 400;
}

.hui-img-list p {
	font-size: 13px;
	line-height: 1.6em;
	color: #999999;
	word-break: break-word;
}

.doc_iconbig {
	width: 86px;
	max-width: 96px;
	margin: 10px auto;
}

.docdown {
	border: 1px solid #9B8C35;
	padding: 10px;
	background: #fff;
	border-radius: 15px;
	color: #000;
	width: 830px;
	margin: 20px auto;
}

.doc_maintite {
	font-size: 20px;
	font-family: 微软雅黑;
	font-weight: bold;
	line-height: 40px;
}

.dbt {
	font-size: 20px;
	font-family: 微软雅黑;
	font-weight: bold;
	margin-top: 30px;
}

#downmesbox {
	text-align: center;
	color: #FF0000;
}

/*右侧列表*/
.rightlist {
	margin-top: 20px;
}

.rightlist ul {
	lint-height: 30px;
	font-size: 15px;
	font-weight: bold;
}

.word_mainbox {
	padding: 10px;
	font-size: 14px;
	line-height: 30px;
	border: 0px solid #E4DF95;
	margin-top: 30px;
	border-radius: 15px;
}

.word_mainbox img {
	max-width: 90%;
	border: 2px solid #E4DF95;
	border-radius: 25px;
	margin: 20px;
}

/*折叠展开*/
.wrapper {
	display: flex;
	margin: 0px auto;
	width: 800px;
	min-width: 800px;
	overflow: hidden;
	/*   resize: horizontal; */
	padding: 5px;
	padding-bottom: 20px;
}

.wrapper .tj_main {
	width: 780px;
	min-width: 780px;
	padding-bottom: 26px;

}

.text {
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: justify;
	/* display: flex; */
	/*   display: -webkit-box;
	  -webkit-line-clamp: 3;
	  -webkit-box-orient: vertical; */
	position: relative;
	line-height: 1.6;
	max-height: 16.0em;
	transition: .3s max-height;
}

.text::before {
	content: '';
	height: calc(100% - 26px);
	float: right;
}

.text::after {
	content: '';
	width: 999vw;
	height: 999vw;
	position: absolute;
	box-shadow: inset calc(100px - 999vw) calc(30px - 999vw) 0 0 #fff;
	margin-left: -100px;
}

.btn {
	position: relative;
	float: right;
	clear: both;
	margin-left: 20px;
	font-size: 16px;
	padding: 0 8px;
	background: #9B8C35;
	line-height: 24px;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
	/* margin-top: -30px; */
}

.btn::after {
	content: '展开'
}

.exp {
	display: none;
}

.exp:checked+.text {
	max-height: none;
}

.exp:checked+.text::after {
	visibility: hidden;
}

.exp:checked+.text .btn::before {
	visibility: hidden;
}

.exp:checked+.text .btn::after {
	content: '收起'
}

.btn::before {
	content: '...';
	position: absolute;
	left: -5px;
	color: #333;
	transform: translateX(-100%)
}

/*多音字*/
.dyz_show {
	font-size: 30px;
	font-family: 微软雅黑;
	color: red;
	font-weight: bold;
	line-height: 40px;
	width: 40px;
	text-align: center;
	margin: 10px auto;
	max-width: 40px;
	margin-right: 10px;
}

.dyzbox {
	width: 830px;
}

/*书法	字贴*/
.zdbox {
	width: 795px;
	margin: 10px auto;
	border: 1px solid #ccc;
	background-color: #fff;
	padding-bottom: 60px;
}

.szdbox_red {
	width: 636px;
	margin: 0px auto;
	border: 3px solid red;
	line-height: 52px;
	background-image: url(https://www.cngwzj.com/mb/images/zhitebg_red.jpg);
	color: #808080;
	font-size: 36px;
	font-family: 楷体;
	letter-spacing: 17px;
	padding-left: 7px;
}

.zdtoptitle_red {
	width: 637px;
	margin: 0px auto;
	text-align: right;
	color: red;
	line-height: 30px;
	font-size: 14px;
	margin-top: 60px;
	font-weight: bold;
}

.pd-10s {
	padding: 10px;
}

.bd-0px {
	border: 0px;
}

.szdbox_green {
	width: 636px;
	margin: 0px auto;
	border: 3px solid #9ACDB3;
	line-height: 52px;
	background-image: url(https://www.cngwzj.com/mb/images/zhitebg_green.jpg);
	color: #808080;
	font-size: 36px;
	font-family: 楷体;
	letter-spacing: 17px;
	padding-left: 7px;
}

.zdtoptitle_green {
	width: 637px;
	margin: 0px auto;
	text-align: right;
	color: #9ACDB3;
	line-height: 30px;
	font-size: 14px;
	margin-top: 60px;
	font-weight: bold;
}


.szdbox_black {
	width: 636px;
	margin: 0px auto;
	border: 3px solid #808080;
	line-height: 52px;
	background-image: url(https://www.cngwzj.com/mb/images/zhitebg_black.jpg);
	color: #808080;
	font-size: 36px;
	font-family: 楷体;
	letter-spacing: 17px;
	padding-left: 7px;
}

.zdtoptitle_black {
	width: 637px;
	margin: 0px auto;
	text-align: right;
	color: #808080;
	line-height: 30px;
	font-size: 14px;
	margin-top: 60px;
	font-weight: bold;
}

/*打印文档效果预览按钮*/
.demelink_pc:visited, .demelink_pc:link, .demelink_pc:active {
	font-size: 16x;
	font-weight: bold;
	font-family: 微软雅黑;
	text-align: center;
	border: 3px solid #A33639;
	padding: 5px;
	color: #A33639;
}

.demelink_pc:hover {
	color: red;
	border: 3px solid red;
}

.sodemobox {
	text-align: center;
	padding: 20px;
	border-top: 1px solid #ccc;
	margin: 10px;
}

/*句子*/
.yw_box {
	padding: 10px;
	font-size: 14px;
	font-weight: bold;
}

.yw_box a:active, .yw_box a:visited, .yw_box a:link {
	color: #fff;
	font-size: 14px;
	border-radius: 10px;
}

.yw_box a:hover {
	color: yellow;
	font-size: 14px;
}

.colorwt {
	color: #fff;
}

/*右侧悬浮icon*/
.side-bar {
	width: 20px;
	position: fixed;
	bottom: 50%;
	right: 20px;
	z-index: 100;
}

.side-bar a {
	font-size: 14px;
	font-family: 微软雅黑;
	width: 20px;
	max-width: 20px;
	text-align: center;
	color: #FFFFFF;
	border: 2px solid #9B8C35;
	padding: 5px;
	margin-top: 10px;
	display: block;
	background-color: #9B8C35;
}

.side-bar a:hover {
	background-color: #A33639;
	border: 2px solid #A33639;
	color: #fff;
}

/*右侧hhvi*/
.rightimg {
	width: 100%;
	max-width: 100%;
}

.tjmulu {
	line-height: 25px;
}

.bbs_imglist img {
	max-height: 150px;
	max-width: 200px;
}

.pyimgboxs img {
	max-width: 100%;
	width: 100%;
}

.pyimgboxs {
	width: 100%;
	max-width: 100%;
}