body {
  margin: auto;
  width: 80%;
}

header {
  display: block;
  background-color: #DAF7A6;
  text-align: center;
  padding: 10px;
}

.calendar {
  background-color: white;
  width: 100%;
  text-align: center;
  border: 0;
  border-collapse: collapse;
  line-height: 13px;
}