li {
    display: inline;
}

a {
    outline: none;
    text-decoration: none;
    display: inline-block;
    margin-left: 1%;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    width: 31%;
    color: white;
    background-color: green;
}

a:hover {
    color: yellow;
    background: blue;
}