p {
    margin: 5px 10px 5px 10px;
    padding: 4px 7px 4px 7px;
    width: 200px;
    box-sizing: border-box;
    border: 3px solid blue;
    border-radius: 100px;
    color: red;
}

.box {
    border: 3px outset red;
    border-radius: 10px;
    width: 50%;
    height: 150px;
    padding: 100px;
    background-color: blue;
    background-image: url('A.jpg');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #b0d1e4;
    ;
}

tr:nth-child(odd) {
    background-color: #6aabd1;
}