@charset "utf-8";
/* CSS Document */

img {
	float: right;
	width: 50%;
}

p {
	position: relative;
	width: 50%;
	left: 50px;
}

.test {	
	z-index: 1;
	position: absolute;
	top: 30px;
	left: 20px;
	background-color: orange;
}

article {
	position: relative;
	z-index: 2;
}

.special {
	position: fixed;
	top: 30px;
	background-color: yellow;
}